body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.duffer {
	height: 11rem;
}

h1 {
	color: grey;
	font-weight: bold;
	font-size: 3rem;
}

hr {
	border-color: #FA841B;
	border-width: 3px;
	max-width: 65px;
}

.btn {
	font-weight: 700;
	background-color: #FA841B;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	border: #FA841B;
}

.btn-xl:hover {
	padding: 1rem 2rem;
	background-color: #E56A00;
}